server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
              - Path=/api/auth/**
              metadata:
                  auth: public

            - id: user-service
              uri: lb://user-service
              predicates:
              - Path=/api/user/**
              metadata:
                auth: private
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/