server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_auth
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
    defer-datasource-initialization: true
# gRPC Configuration
grpc:
  server:
    port: 9090
    security:
      enabled: false  # Disable gRPC security completely
      auth-type: NONE # No authentication required

# JWT Configuration - Secret key pháº£i >= 256 bits
jwt:
  secret: mySecretKeyForJWTTokenGenerationThatIsLongEnoughToMeetTheRequirements256BitsMinimum
  expiration: 86400000 # 24 hours
  refresh-expiration: 604800000 # 7 days

logging:
  level:
    root: INFO
    com.em.ServiceStack: DEBUG
    org.springframework.security: DEBUG

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
        defaultZone: http://localhost:8761/eureka/