spring:
  threads:
    virtual:
        enabled: true
  application:
    name: Product-service
  data:
    mongodb:
      uri: mongodb://root:12345@localhost:27017/ecommerce_product?authSource=admin
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
          spring:
            json:
              add:
                type:
                  headers: true
server:
  port: 8083
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/