spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_user
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/ecommerce-realm
keycloak:
  auth-server-url: http://localhost:8080/
  realm: ecommerce
  resource: user-service
  bearer-only: true
  ssl-required: external
  credentials:
    secret: <client-secret-trong-keycloak>
server:
  port: 8081
