spring:
  application:
    name: Product-service
  data:
    mongodb:
      uri: mongodb://root:12345@localhost:27017/ecommerce_product?authSource=admin
server:
  port: 8083
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/