version: '3.8'

services:
  user-db:
    image: postgres:13.22-alpine3.22
    container_name: user-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ecommerce_user
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
    ports:
      - "5433:5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data
volumes:
    user-db-data: {}